<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snc.sample.webview">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- External Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Geolocation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- RECORD AUDIO -->
    <!-- The tablet device may not be supported when the permission is applied. -->
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.hardware.audio.low_latency" />
    <uses-feature android:name="android.hardware.audio.pro" />
    <uses-feature android:name="android.hardware.microphone"/>

    <!-- Get Package Info -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Screen -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

    <!-- Application -->
    <!-- android:requestLegacyExternalStorage="true" -->
    <!-- android:preserveLegacyExternalStorage="true" -->
    <application
        android:name="com.snc.zero.application.SNCApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:fullBackupContent="@xml/app_backup_rules"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- EnableSafeBrowsing -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <!-- Activity -->
        <activity
            android:name="com.snc.sample.webview.activity.WebViewActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.snc.sample.webview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>